.form {
  width: 100%;

  .form-field {
    margin-bottom: 0.5rem;

    label {
      display: block;
      margin-bottom: 0.25rem;
    }

    input[type=text],
    input[type=password] {
      width: 100%;
      padding: 0.25rem 0.5rem;
    }
  }
}
